<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]
</IfModule>

<IfModule mod_headers.c>
Header always set Access-Control-Allow-Origin: "*"
Header always set Access-Control-Allow-Headers: "Origin, Content-Type"
Header always set Content-Type: "application/json"
Header always set Access-Control-Allow-Methods: "*"
Header always set Access-Control-Max-Age: "3600"
</IfModule>
