@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

* {
  --inkdark: rgb(34, 34, 34);
  --color1: rgb(255, 250, 215);
  --color2: rgb(252, 221, 176);
  --color3: rgb(255, 159, 159);
  --color4: rgb(233, 119, 119);
  box-sizing: border-box;
  font-family: Inter;
  color: var(--inkdark);
}
