@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

* {
  --inkdark: rgb(34, 34, 34);
  --color1: rgb(99, 136, 137);
  --color2: rgb(157, 188, 152);
  --color3: rgb(235, 217, 180);
  --color4: rgb(249, 239, 219);
  box-sizing: border-box;
  font-family: Inter;
  color: var(--inkdark);
}
