@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

* {
  --palegreen: rgb(215, 225, 215);
  --paleblue: rgb(48, 82, 122);
  --inkdark: rgb(34, 34, 34);
  --validgreen: rgb(69, 140, 69);
  --deletered: rgb(206, 31, 0);
  --cancelorange: rgb(230, 103, 0);
  --paperwhite: rgb(240, 239, 236);
  --limitgrey: grey;
  box-sizing: border-box;
  font-family: Inter;
  color: var(--inkdark);
}

body {
  margin: 0;
  background-color: var(--palegreen);
}

.main-container {
  max-width: 1600px;
  width: 100%;
  margin: 50px auto;
}

.params-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.param-window {
  min-width: 430px;
  margin: 10px;
  padding: 30px 15px 15px 15px;
  border: 1px solid var(--limitgrey);
  border-radius: 5px;
  background-color: var(--paperwhite);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.151);
}

.error-window {
  text-align: center;
}

.login-window {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.param-window-small {
  width: calc(33% - 30px);
}

.user_language {
  width: 50%;
}

.header {
  background-color: var(--paperwhite);
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.logo-container {
  position: absolute;
  display: flex;
  align-items: center;
}

.logo-span {
  padding-left: 10px;
  font-size: 2rem;
}

.title-container {
  width: 100%;
}

h1 {
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

.speak-logo {
  height: 64px;
  width: 64px;
}

.form__container > h1 {
  background-color: transparent;
}

.dashboard {
  margin: 30px auto 50px auto;
  max-width: 1600px;
  width: 100%;
  border-collapse: collapse;
}

.dashboard td {
  min-width: 70px;
  padding: 10px;
  border: 1px solid var(--limitgrey);
}

.stats {
  padding: 10px;
  border-left: 1px solid var(--limitgrey);
}

h2 {
  margin: 0;
}

.param-title {
  margin-bottom: 25px;
}

.btn-container {
  padding: 20px 0;
  max-width: 60px;
  display: inline;
}

.btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.dashboard .btn__container {
  min-width: 0px;
  padding: 10px 3px 10px 10px;
  border: 1px solid transparent;
  background-color: var(--paperwhite);
}

.dashboard tbody tr:hover {
  transform: 0.2s ease;
  background-color: rgba(151, 151, 151, 0.34) !important;
}

.btn__update > * {
  color: var(--validgreen);
}
.btn__delete > * {
  cursor: pointer;
  color: var(--deletered);
}

.navbar {
  position: sticky;
  top: 0;
  background-color: var(--paperwhite);
  border-bottom: 1px solid var(--limitgrey);
  margin-bottom: 20px;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
}

.navbar__container ul {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 20px auto;
}
.navbar__container li {
  list-style: none;
}
.navbar__container li a {
  padding: 20px;
  text-decoration: none;
  color: var(--paleblue);
  border-bottom: 5px solid transparent;
}
.navbar__container li a:hover {
  color: var(--deletered);
  border-bottom: 5px solid var(--deletered);
}

.navbar__container li .a-active {
  color: var(--deletered);
  border-bottom: 5px solid var(--deletered);
}

.navbar__container .log-out__btn {
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
  text-decoration: none;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.form {
  border-radius: 5px;
  position: relative;
  padding: 50px;
  max-width: 700px;
  width: 100%;
  border: 1px solid var(--limitgrey);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.082);
  background-color: var(--paperwhite);
}

.form label {
  display: block;
  margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="file"],
select {
  margin-bottom: 30px;
  border: 1px solid var(--limitgrey);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.form input[readonly] {
  background-color: rgb(212, 212, 212);
  outline: none;
}

.dbl-select__container {
  display: flex;
  align-items: start;
}

.dbl-select__container :first-child {
  margin-right: 5px;
}

.dbl-select {
  display: inline-block;
  width: 50%;
}

.edit-select {
  width: calc(100% - 50px);
}

.edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.edit-select__container {
  display: flex;
  justify-content: space-between;
}

.edit-button > i {
  color: white;
}

.edit-button > i:hover {
  color: var(--validgreen);
}

.valid-button {
  cursor: pointer;
  color: var(--paperwhite);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--validgreen);
  border: none;
  border: 1px solid var(--validgreen);
  transition: 0.2s ease;
  text-decoration: none;
  font-size: 1rem;
}

.plus-btn {
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.add-room-btn {
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.not-filled {
  background-color: red;
  border-color: red;
}

.not-filled:hover {
  color: red !important;
}

.valid-button:hover {
  background-color: transparent;
  color: var(--validgreen);
}

.return-link {
  position: absolute;
  height: 25px;
  width: 25px;
  font-size: 1.5rem;
  top: 15px;
  left: 15px;
  transition: 0.2s ease;
}

.return-link > * {
  color: var(--cancelorange);
}

.return-link > *:hover {
  color: rgb(95, 43, 0);
}

.delete-container {
  position: fixed;
  inset: 0 0 auto auto;
  background-color: rgba(0, 0, 0, 0.11);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.delete-active {
  display: flex;
}

.delete-window {
  background-color: var(--paperwhite);
  height: 100%;
  max-height: 250px;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.171);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.delete-window__warning-text {
  color: var(--deletered);
  font-weight: 800;
}

.delete-window__delete-link {
  margin-left: 20px;
  color: var(--deletered);
  text-decoration: none;
}

.delete-window__delete-link:hover {
  text-decoration: underline;
}

.delete-room {
  background-color: var(--deletered);
  border-color: var(--deletered);
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.delete-room:hover {
  color: var(--deletered);
}
