body {
  margin: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 85% 15%;
  max-width: 1700px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.dashboard {
  margin: 0 20px;
  width: calc(100% - 40px);
}

.dashboard td {
  padding: 10px;
  border: 1px solid grey;
}

.stats {
  padding: 10px;
  border-left: 1px solid grey;
}

h2 {
  margin-top: 0;
}

.user-btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.dashboard .user-btn__container {
  padding: 10px 3px 10px 3px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.user-btn__update {
  color: rgb(0, 173, 0);
}
.user-btn__delete {
  color: red;
}
