* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 85% 15%;
  max-width: 1700px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.dashboard {
  margin: 0 20px;
  width: calc(100% - 40px);
}

.dashboard td {
  padding: 10px;
  border: 1px solid grey;
}

.stats {
  padding: 10px;
  border-left: 1px solid grey;
}

h2 {
  margin-top: 0;
}

.user-btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.dashboard .user-btn__container {
  padding: 10px 3px 10px 3px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.user-btn__update {
  color: rgb(0, 173, 0);
}
.user-btn__delete {
  color: red;
}

.navbar {
  display: flex;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
  padding: 20px;
}
.navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.navbar li {
  list-style: none;
}
.navbar li a {
  padding: 20px;
  text-decoration: none;
  color: rgb(48, 82, 122);
  border-bottom: 5px solid transparent;
}
.navbar li a:hover {
  color: rgb(206, 31, 0);
  border-bottom: 5px solid rgb(206, 31, 0);
}

.navbar li .a-active {
  color: rgb(206, 31, 0);
  border-bottom: 5px solid rgb(206, 31, 0);
}

.user-form__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
